cp\:tabbox, cp\:tabs {
	display:block;
	padding: 0;
	margin:0;
}

cp\:tab {
	border: 1px solid gray;
	border-bottom: 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color:dimgray;
	display:inline-block;
	background:silver;
	margin-right:-2px;
	padding:4px 10px 4px 10px;
	cursor: pointer;
	height: 18px ;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

cp\:tab span {
	font-size:0.8em;
	margin:12px;
}

cp\:tab:hover {
	background:gainsboro;
}

cp\:tab[selected='true'] {
	background:whitesmoke;
	color:black;
}

cp\:tabpanel {
	border:1px solid gray;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 100%;
	padding:10px;
}

cp\:tabpanel {
	display:none;
}

cp\:tabpanel[selected='true'] {
	display:block;
}

.innertabpanel {
	padding:15px;
	height: 100%;
}
