@import "font-awesome.min.css";

body {
	font-family: arial,sans-serif;
	font-size:15px;
	background: #e6e6e6;
}

.admin-logout {
	text-align:center;
	position:absolute;
	top:5px;
	right:5px;
	width:100px;
	font-size:12px
}

.admin-button {
	display: inline-block;
	border: 1px solid gray;
	text-transform:uppercase;
	border-radius: 5px;
	height:25px;
	line-height: 25px;
	padding: 0 10px;
	cursor: pointer;
}

.admin-button:hover {
	background: white;
	border: 1px solid black;
}

.window {
	width:1024px;
	margin:20px auto;
}

.window-title {
	margin:25px;
	height:35px;
	line-height: 35px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
}

.form_service {
	width: 750px;
	margin: 20px auto;
	padding: 20px 0;
	border : 2px solid black;
	border-radius:20px;
	text-align: center;
}

.form_service p {
	width:600px;
	margin: 5px auto;
}

.form_service label {
	width:250px;
	font-size: 1em;
	text-align: right;
	display: inline-block;
	margin-right: 10px;
}

.form_service input[type="text"],
.form_service input[type="password"],
.form_service input[type="file"],
.form_service input[type="number"],
.form_service input[type="email"],
.form_service input[type="month"],
.form_service input[type="date"] {
	width:300px;
	border:1px solid #2d3f41;
	padding:2px;
	border-radius:5px;
}
.form_service select {
	width: 306px;
}

.form_service textarea {
	width: 300px;
	height: 36px;
}

input[type="button"],input[type="submit"] {
	color:white;
	background:black;
	border:5px;
	border-radius:5px;
	text-decoration:uppercase;
	font-size:1em;
	padding:6px 20px;
	cursor:pointer;
}

/* ---------- MSG ----------------- */

.dia_m {
	visibility:hidden;
	display:block;
	position: fixed;
	font-size: 15px;
	min-width: 140px;
	border: solid 2px gray;
	padding: 0;
	text-align: center;
	background: #FFF;
	margin: 0;
	-o-box-shadow: -15px 15px 30px 0px rgba(0, 0, 0, 0.5);
	box-shadow: -15px 15px 30px 0px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.dia_m_ts {
	visibility:hidden;
	display:block;
	position: fixed;
	text-align: center;
	min-width: 140px;
	/* border: solid 3px black; */
	padding: 0;
	background: #e6e6e6;
	margin: 0;
	-o-box-shadow: -15px 15px 30px 0px rgba(0, 0, 0, 0.5);
	box-shadow: -15px 15px 30px 0px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.tabs {
	text-align: center;
}

.tab {
	display: inline-block;
	text-align: center;
	background-color: gray;
	padding: 10px;
	cursor: pointer;
}

.tab:hover {
	color: gainsboro;
}

.tabselect {
	color: black ! important;
	background-color: gainsboro;
}

.panels {
	border-top: black solid 2px;
}

.panel {
	display:none;
	margin:0;
	padding:15px;
}

.paneselect {
	display: block;
}

.frames {
	border-top: black solid 2px;
}
