#source_websites {
	display: inline-block;
	width: 306px;
	text-align: left;
}

#source_websites label {
	display: inline;
}

#source_wait {
	margin-top:8px;
	display:none
}

#source_report {
	margin:15px auto 0 auto;
	height: 300px;
	padding: 10px;
	overflow: auto;
	display: none;
	text-align: left;
	white-space: pre-wrap;
	width:90%;
}

#source_links {
	margin-top:15px;
}

#source_error {
	display:none;
}

#source_counter {
	color:black;
	display:none;
}

.errors {
	color:red;
}
