
/**
* __PORTALDEFAULT__ print principal
*
* Header, Navigation, Footer, Connexion, Book, Citations
*
*/

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: black;
	margin:0;
	padding:0;
}

/* --------------------------------- Header --------------------------------- */
#header {
	display:none;
}


/* ------------------------------- Navigation ------------------------------- */
#navbar {
	display:none;
}

/* --------------------------------- Footer --------------------------------- */
#footer {
	display:none;
}

/* ----------------------------------- Home --------------------------------- */


/* -------------------------------- Connexion ------------------------------- */
/* ^form */
#connexion {
	display:none;
}

/* ---------------------------------- Book ---------------------------------- */
/* Content ^article */
#tei {
	margin:0 50px;
	line-height:140%;
	font-size:15px;
}

/* Toc ^nav */
#toc, #markerAnchorLeft, #markerAnchorRight {
	display:none;
}

/* ---------------------------------- Citations ---------------------------------- */
.citation-block {
	border: 1px solid gray;
	margin: 10px;
	padding: 10px;
}

.title {
	margin-bottom: 2px;
}

.page {
	font-size:0.8em;
	margin:0 auto;
}

.citation:before {
	content:"« ";
	color:gray;
}
.citation:after {
	content:" »";
	color:gray;
}

.link {

}

/* ---------------------------------- Dialog ---------------------------------- */

#__dialog_ {
	display:none;
}

#__dialogModal_ {
	display:none;
}

.dialog {
	display:none;
}
