/**
* demo table
*
*/

/* ^table */
table {
	background:#fff;
	max-width:855px;
	border-spacing:0;
	margin:10px 0;
	border-collapse:collapse;
	width: 1135px;
	margin:auto;
	text-align:center;
	font-size:.8em;
}
table th,
table td {
	padding:3px 8px;
	line-height:18px;
}

table th {
	border-bottom: 2px solid gray;
	font-weight:bold;
	vertical-align:bottom;
	padding:10px 22px;
}

#start_novelty table th {
	color: #C0392B;
	border-bottom: 2px solid #C0392B;
}

table thead tr th:first-child {
	border-top-left-radius: 16px;
}

table thead tr th:last-child {
	border-top-right-radius: 16px;
}

table td {
	vertical-align:middle;
	color:#6A737E;
	border: 1px solid gainsboro;
}

#start_novelty table td {
	/*color:#C0392B;*/
}

table .t_person {
	font-weight:bold;
	text-align:left;
}

table .t_date {

}
table .t_title {
	text-align:left;
}

table .t_title a {
	text-decoration: none;
	color:#6A737E;
}

#start_novelty table .t_title a {
	/* color:#C0392B; */
}

table .t_title a:hover {
	text-decoration: underline;
}

/* table sort specific styling */
th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection      { background:transparent; }
th.sort-header {
	cursor:pointer;
}
th.sort-header::-moz-selection,
th.sort-header::selection {
	background:transparent;
}

table th.sort-header:after {
	content: '';
	position: absolute;
	margin-top: 8px;
	margin-left: 5px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: gray transparent;
}

table th.sort-up:after {
	border-bottom:none;
	border-width:4px 4px 0;
}
